<meta name="item-type" content="gallery">
<article class="gallery-container {{post_class}}">
    <header class="gallery-header">
        <h1 class="gallery-title">{{title}}</h1>
    </header>

    <section class="gallery-content">
    </section>
    
    <menu id="image-menu">
        <img class="image-nav previous disabled" src="{{asset "images/round-left.svg"}}" onerror="this.src='{{asset "images/round-up.png"}}'">
        <img class="image-nav next" src="{{asset "images/round-right.svg"}}" onerror="this.src='{{asset "images/round-up.png"}}'">
        <!--<i class="previous disabled fa fa-caret-square-o-left previous"></i>
        <i class="next fa fa-caret-square-o-right"></i>-->
    </menu>

    <footer class="gallery-footer">
        <div class="gallery-description-nav">
            <span id="">Meer informatie / Share</span>
            <img class="description-nav-toggle" src="{{asset "images/round-up.svg"}}" onerror="this.src='{{asset "images/round-up.png"}}'">
            <!--<object type="image/svg+xml" data="{{asset "images/round-up.svg"}}" class="description-nav-toggle">
                <img src="{{asset "images/round-up.png"}}">
            </object>-->
        </div>
        <div class="gallery-description">
            {{{content}}}
        </div>
        <!--<div class="gallery-meta">
            {{#if tags}}
                <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
            {{/if}}
    
            <div class="share">
                <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fa fa-twitter"></i>
                    <span class="hidden">Twitter</span>
                </a>
    
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="fa fa-facebook"></i>
                    <span class="hidden">Facebook</span>
                </a>
    
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                   <i class="fa fa-google-plus"></i>
                    <span class="hidden">Google+</span>
                </a>
            </div>
        </div>-->
    </footer>
</article>