<menu class="post-list scroll-pane"> 
    {{#foreach posts}}
        <li class="post-stub {{post_class}}" >
            <a class="js-ajax-link post-link"  title="{{title}} | {{@blog.title}}" href="{{url}}">
                {{#if image}}
                    <div class="image-container">
                        <img id="image{{@index}}" class="post-stub-image" src="{{image}}" alt="{{title}} | {{@blog.title}}">
                        <h4 class="post-stub-title">{{title}}</h4>
                        <div class="show-selection"></div>
                    </div>
                {{else}}
                    <div class="no-image"> {{title}} 
                        <div class="show-selection"></div>
                    </div>
                {{/if}}
    
                {{#if featured}}
                    <span class="post-stub-tag">Featured</span>
                {{/if}}
            </a>
        </li>
    {{/foreach}}
</menu>