{{!< default}}

<div class="container">
    <meta name="item-type" content="about">
    <section class="author-profile">
        {{#author}}
            <div class="left">
                <h1 class="author-name">{{name}}</h1>
                {{#if image}}
                    <img class="author-avatar" src="{{image}}" alt="{{name}}">
                {{/if}}
                <p>A real dynamo when it comes to working with cannibalism in New York, NY. Have some experience consulting about cabbage in Los Angeles, CA. Spent 2001-2004 investing in shaving cream in Salisbury, MD. Had a brief career importing sheep in Naples, FL. Developed several new methods for developing psoriasis in Pensacola, FL. Spent 2002-2009 getting my feet wet with salsa in the aftermarket.</p>
                {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                {{/if}}
            </div>
            
            <div class="right">
                <div class="share">
                    <a class="icon-facebook" href="https://www.facebook.com/tim.willebrands.7">
                        <i class="fa fa-facebook"></i>
                        <span class="hidden">Facebook</span>
                    </a>
                </div>
            </div>
        {{/author}}
    </section>

    <!--<ol class="post-list">
        {{> loop}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>-->
</div>